.header {
	width: 100vw;
	height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #eee;

	&__logo {
		width: 100px;
		margin-left: 50px;
	}

	&__title {
		font-size: 60px;
		font-family: 'Audiowide';
	}

	&__login {
		margin-right: 50px;
		font-size: 24px;

		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}
}

@media (max-width: 450px) {
	.header {

		&__logo {
			width: 50px;
			margin-left: 20px;
		}

		&__title {
			font-size: 30px;
		}

		&__login {
			margin-right: 20px;
			font-size: 18px;

		}
	}
}